@model Biblioteca_Virtual.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h1 class="display-4">Crear Usuario</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <dl class="row">
                <dt class="col-sm-4">
                    <label asp-for="Email" class="control-label">Correo Electrónico:</label>
                </dt>
                <dd class="col-sm-8">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </dd>

                <dt class="col-sm-4">
                    <label asp-for="Password" class="control-label">Contraseña:</label>
                </dt>
                <dd class="col-sm-8">
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </dd>

                <dt class="col-sm-4">
                    <label asp-for="Nombre_Completo" class="control-label">Nombre Completo:</label>
                </dt>
                <dd class="col-sm-8">
                    <input asp-for="Nombre_Completo" class="form-control" />
                    <span asp-validation-for="Nombre_Completo" class="text-danger"></span>
                </dd>

                <dt class="col-sm-4">
                    <label asp-for="Rol" class="control-label">Rol:</label>
                </dt>
                <dd class="col-sm-8">
                    <select asp-for="Rol" class="form-control">
                        <option value="1">Moderador</option>
                        <option value="2">Publicador</option>
                    </select>
                    <span asp-validation-for="Rol" class="text-danger"></span>
                </dd>
            </dl>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Crear Usuario</button>
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
