@model Biblioteca_Virtual.Models.Usuario

@{
    ViewData["Title"] = "Eliminar";
}

<h1 class="display-4">Eliminar Usuario</h1>

<h4 class="mt-4">¿Está seguro de que desea eliminar esto?</h4>
<div class="mt-3">
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Correo Electrónico:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>

        <dt class="col-sm-2">Contraseña:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Password)</dd>

        <dt class="col-sm-2">Nombre Completo:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nombre_Completo)</dd>

        <dt class="col-sm-2">Rol:</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Rol)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Eliminar</button> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>
