@{
    ViewData["Title"] = "Acerca De";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="display-4 text-primary mb-4">Quiénes Somos</h1>
            <p class="lead">
                ¡Bienvenido a la Biblioteca Virtual! Fundada en 2023 por un equipo apasionado de profesionales dedicados a crear una experiencia educativa única y enriquecedora. Nos enorgullece ser pioneros en la convergencia entre un Blog y una Biblioteca Virtual, creando un ecosistema donde el conocimiento florece y se comparte de manera innovadora.
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <h2 class="mb-4 text-primary">Nuestra Historia</h2>
            <p>
                Desde nuestros humildes comienzos, en Los Pinguinos hemos trabajado incansablemente para construir una plataforma que va más allá de una simple biblioteca virtual. Nos enorgullece haber creado un espacio digital que fusiona la riqueza del contenido de nuestro blog con la profundidad de nuestra biblioteca, proporcionando una experiencia integral para nuestros usuarios.
            </p>
            <p>
                En Los Pinguinos, creemos que cada material bibliográfico compartido tiene el poder de inspirar, educar y transformar. Nos esforzamos por construir un legado en el mundo digital, conectando a personas de todas las edades con información diversa que despierta la curiosidad y fomenta el aprendizaje continuo.
            </p>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4 text-primary">Nuestro Compromiso</h2>
            <p>
                Somos un equipo dedicado y diverso de profesionales comprometidos con la excelencia. Cada miembro de Los Pinguinos comparte una visión común: hacer que la diversidad del conocimiento bibliográfico sea accesible y relevante en la era digital actual. Nos desafiamos constantemente a nosotros mismos para superar las expectativas, innovar en la forma en que se accede a la información y contribuir a la formación de mentes brillantes.
            </p>
            <p>
                En un mundo donde la información es clave, nuestro compromiso con la calidad, la autenticidad y la accesibilidad se refleja en cada artículo de blog y en cada material bibliográfico que compartimos. Nuestro objetivo es ser más que una plataforma; queremos ser un catalizador para el aprendizaje significativo y el crecimiento intelectual de todos nuestros usuarios.
            </p>
        </div>
    </div>
</div>
